<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="maintemplate/template :: head">
</head>
<body>
     <div class="container mt-4">
            <div class="col-sm-6">
                <form th:action="@{/save}" th:object=${libros}  method="POST">
                    <div class="card-header">
                        <h3>Modulo Libro</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input th:field="*{id}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>TITULO</label>
                            <input th:field="*{titulo}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>AUTOR</label>
                            <input th:field="*{autor}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>EDITORIAL</label>
                            <input th:field="*{editorial}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>VOLUMEN</label>
                            <input th:field="*{volumen}" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>CATEGORIA</label>
                            <input th:field="*{categoria_id}" type="text" class="form-control"/>
                        </div><div class="form-group">
                            <label>GENERO</label>
                            <input th:field="*{genero_id}" type="text" class="form-control"/>
                        </div><div class="form-group">
                            <label>NUMERO DE PAGINAS</label>
                            <input th:field="*{numero_paginas}" type="text" class="form-control"/>
                        </div><div class="form-group">
                            <label>IMAGEN</label>
                            <input th:field="*{imagen}" type="text" class="form-control"/>
                        </div>
                       <div class="card-footer">
                            <input type="submit" value="Guardar" class="btn btn-success">
                       </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </form>
            </div>
        
     </div>
     <footer th:replace="maintemplate/template :: footer">

    </footer>    
</body>
</html>