<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Generos</title>
  </head>
  <body style="background-color:rgb(21, 57, 135) ;"> 
       
    <div class="container">

        <h1><b style="color:rgb(218, 17, 17) ;">  Generos  </b> </h1>

        <table style="width:100%">

          
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>Age</th>
          </tr>
          
        </table>
    </div>

    
    
  </body>
</html>