<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="maintemplate/template :: head">
</head>

<body>
    <header th:replace="maintemplate/template :: header">

    </header>
   


     

    <div class="container mt-4">
        <div  class="row">
            <div class="col-xl-3 col-md-6" th:each="Libros:${libro}">
                <div th:replace="maintemplate/template :: _card"></div>
            </div>
        </div>
        <br>
        <h1 class="text-info">Bienvenido a la libreria poli</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TITULO</td>
                    <td>AUTOR</td>
                    <td>EDITORIAL</td>
                    <td>VOLUMEN</td>
                    <td>CATEGORIA</td>
                    <td>GENERO</td>
                    <td>NUMERO DE PAGINAS</td>
                    <td>IMAGEN</td>
                    <td>ACCIONES</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Libros:${libro}">
                    <td th:text="${Libros.id}">${Libros.id}</td>
                    <td th:text="${Libros.titulo}">${Libros.titulo}</td>
                    <td th:text="${Libros.autor}">${Libros.autor}</td>
                    <td th:text="${Libros.editorial}"> ${Libros.editorial}</td>
                    <td th:text="${Libros.volumen}"> ${Libros.volumen}</td>
                    <td th:text="${Libros.categoria_id}"> ${Libros.categoria_id}</td>
                    <td th:text="${Libros.genero_id}">${Libros.genero_id} </td>
                    <td th:text="${Libros.numero_paginas}">${Libros.numero_paginas}</td>
                    <td th:text="${Libros.imagen}">${Libros.imagen}</td>
                    <td>
                        <a class="btn btn-warning" href="">Editar</a>
                        <a href="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <footer th:replace="maintemplate/template :: footer">

    </footer>
</body>

</html>

