<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="maintemplate/template :: head">
</head>

<body>
    <header th:replace="maintemplate/template :: header">

    </header>
    <div class="container mt-4">
        <!-- <h1 class="text-info">Bienvenido a la libreria poli</h1>
        <a th:href="@{/new}" class="btn btn-primary  p-2 flex-shrink-1 bd-highlight">Nuevo</a> -->
        <div class="d-flex bd-highlight">
            <div class="fs-1 text-success p-2 w-100 bd-highlight">Bienvenido a la libreria poli</div>
            <a th:href="@{/new}" class="btn btn-primary  p-2 flex-shrink-1 bd-highlight">Crear Nuevo Libro</a>
          </div>
        <div  class="row">
            <div class="col-xl-3 col-md-6" th:each="Libros:${libro}">
                <div th:replace="maintemplate/template :: card(id=${Libros.id}, titulo=${Libros.titulo}, autor=${Libros.autor}, imagen=${Libros.imagen})"></div>
            </div>
        </div>
        <br>
        
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <td scope="col">ID</td>
                    <td scope="col">TITULO</td>
                    <td scope="col">AUTOR</td>
                    <td scope="col">EDITORIAL</td>
                    <td scope="col">VOLUMEN</td>
                    <!-- <td scope="col">CATEGORIA</td>
                    <td scope="col">GENERO</td> -->
                    <td scope="col">NUMERO DE PAGINAS</td>
                    <td scope="col">IMAGEN</td>
                    <td scope="col">ACCIONES</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Libros:${libro}">
                    <td th:text="${Libros.id}">${Libros.id}</td>
                    <td th:text="${Libros.titulo}">${Libros.titulo}</td>
                    <td th:text="${Libros.autor}">${Libros.autor}</td>
                    <td th:text="${Libros.editorial}"> ${Libros.editorial}</td>
                    <td th:text="${Libros.volumen}"> ${Libros.volumen}</td>
                    <!-- <td th:text="${Libros.categoria_id}"> ${Libros.categoria_id}</td>
                    <td th:text="${Libros.genero_id}">${Libros.genero_id} </td> -->
                    <td th:text="${Libros.numero_paginas}">${Libros.numero_paginas}</td>
                    <td><img th:src="@{'/imagenes/' + ${Libros.imagen}}" th:alt="${Libros.imagen}" style="width:150px;"></td>
                    <td>
                        <a th:href="@{/editar/}+${Libros.id}" class="btn btn-warning" >Editar</a>
                        <a  th:onclick="eliminar([[${Libros.id}]])" class="btn btn-danger" >Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <footer th:replace="maintemplate/template :: footer">

    </footer>
</body>

</html>

